<!DOCTYPE html>
<html>
<head>
    <title>a</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if(error){%>
    <div><%= error%>></div>
<%}%>

    <form  id="login" method="post" action="v1/login">
        <div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-6">
                    <input type="text" id="verifycode" name="account" required class="form-control input-lg"
                           placeholder="请输入用户名或者邮箱">
                </div>
                <div class="col-xs-6">
                    <input type="password" id="verifycode" name="password" required class="form-control input-lg"
                           placeholder="请输入密码">
                </div>
                <div class="col-xs-6">
                    <button type="submit">登录</button>
                </div>
                <input type="checkbox" name="rememberme"> 记住

            </div>
        </div>
    </form>
<script src="/lib/jquery-3.2.1.min.js"></script>
<script src="/lib/jquery-form.min.js"></script>

<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);  //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }
    $(document).ready(function () {
        $("#login").ajaxForm({
            success:function (data) {
                if(data.code==0){
                    var redirect=GetQueryString("redirect_to");
                    if(redirect){
                        window.location.href=redirect;
                    }else {
                        window.location.href='/admin'
                    }
                }
            }

        })
    })
</script>
</body>
</html>
